.ArtistList {
  display: flex;
  flex-flow: column nowrap;

  .Artists {
    height: calc(100vh - 120px);
    overflow: auto;
    width: 100%;

    .Virtual {
      position: relative;
      width: 100%;

      .VirtualRow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      margin-top: 1px;
      margin-bottom: 20px;
    }

    .Artist {
      border-radius: 0;
      max-width: 1050px;
      margin: 0 auto;
      width: 95%;
      margin-bottom: 5px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      flex-flow: row nowrap;
      font-size: 1.2em;
      align-items: center;

      .Name {
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: bold;
        white-space: nowrap;
        margin-right: 10px;
        flex-shrink: 0;

        .NameText {
          overflow: hidden;
          text-overflow: '  ...';
        }

        .Favorite {
          margin-left: 5px;
          overflow: visible;

          span {
            overflow: hidden;
          }
        }
      }

      .GenresAndNumReleases {
        margin-left: auto;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
      }

      .TopGenres {
        white-space: nowrap;
        direction: rtl;
        overflow: hidden;
        text-overflow: '  ...';

        .CollectionTag {
          margin-right: 5px;
        }
      }

      .NumReleases {
        width: 55px;
        min-width: 55px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        .MusicIcon {
          margin-left: 5px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      height: calc(100vh - 120px);

      .Artist {
        flex-flow: row wrap;

        .Name {
          width: 100%;
        }

        .GenresAndNumReleases {
          display: none;
        }
      }
    }
  }
}
