.CollectionList {
  display: flex;
  flex-flow: column nowrap;

  .Collections {
    height: calc(100vh - 120px);
    overflow: auto;
    width: 100%;

    .Virtual {
      position: relative;
      width: 100%;

      .VirtualRow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      margin-top: 1px;
      margin-bottom: 20px;
    }

    .Collection {
      margin: 0 auto;
      border-radius: 0;
      max-width: 1050px;
      width: 95%;
      margin-bottom: 5px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      flex-flow: row nowrap;
      font-size: 1.2em;

      .TypeAndName {
        flex-shrink: 0;
      }

      .GenresAndNumReleases {
        margin-left: auto;
        overflow: hidden;
        align-items: center;
      }

      .TypeAndName,
      .GenresAndNumReleases {
        display: flex;
        flex-flow: row nowrap;
      }

      .TypeAndName,
      .TypeAndName div,
      .TypeAndName span {
        overflow: hidden;
        text-overflow: '  ...';
      }

      .Type {
        width: 70px;
        min-width: 70px;
        margin-right: 10px;
      }

      .Name {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: bold;
        white-space: nowrap;
        margin-right: 10px;

        .Favorite {
          margin-left: 5px;
          overflow: visible;
        }
      }

      .TopGenres {
        white-space: nowrap;
        direction: rtl;
        overflow: hidden;
        text-overflow: '';

        .CollectionTag {
          margin-right: 5px;
        }
      }

      .NumReleases {
        width: 55px;
        min-width: 55px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;

        .MusicIcon {
          margin-left: 5px;
        }
      }
    }

    @media screen and (max-width: 600px) {
      height: calc(100vh - 120px);

      .Collection {
        flex-flow: row wrap;

        .TypeAndName {
          width: 100%;
        }

        .GenresAndNumReleases {
          display: none;
        }
      }
    }
  }
}
