.QueryList {
  display: flex;
  flex-flow: column nowrap;

  .Queries {
    width: 100%;
    margin-top: 15px;

    .SavedQuery {
      border-radius: 0;
      margin: 1px auto;
      max-width: 1050px;
      width: 95%;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      flex-flow: row nowrap;
      font-size: 1.2em;
      position: relative;

      &:hover {
        z-index: 100;
      }

      .Name {
        height: 30px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-weight: bold;
        white-space: nowrap;
        margin-right: 10px;
        flex-shrink: 0;

        .NameText {
          overflow: hidden;
          text-overflow: '  ...';
        }

        .Favorite {
          margin-left: 5px;
          overflow: visible;

          span {
            overflow: hidden;
          }
        }
      }

      .Query {
        margin-left: auto;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
      }
    }

    @media screen and (max-width: 900px) {
      height: calc(100vh - 150px) !important;
    }

    @media screen and (max-width: 600px) {
      .Query {
        display: none;
      }
    }
  }
}
