.FlatTrackList {
  margin-top: -5px;

  .TopArrowPointer {
    width: 0;
    height: 0;
    margin: 0 auto;
    padding: 0;
    z-index: 99;
    position: relative;

    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
  }
}

.bp3-portal {
  position: static;
}

.PopoverPortalTrackList {
  height: 100%;

  .bp3-transition-container {
    width: 100vw;
    box-sizing: border-box;
    padding: 0 2.5%;
    width: 100%;
  }

  .PopoverTrackList {
    width: 100%;
    margin-bottom: 80px;

    .TrackList {
      box-shadow: none;
      border: none;
    }

    .bp3-popover-arrow,
    .bp3-popover-arrow::before {
      box-shadow: none !important;
    }
  }
}

.TrackList {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 0;
  padding: 0 0 15px 0;

  h2,
  h3 {
    width: 92%;
    max-width: 1050px;
  }

  h2 {
    margin: 15px auto;
  }

  h3 {
    margin: 10px auto;
  }
}

.TrackListTracks {
  margin: 0 auto;
  max-width: 1050px;
  width: 92%;
  display: flex;
  flex-flow: column nowrap;

  .Track {
    display: flex;
    background-color: transparent;
    box-shadow: none;
    flex-flow: row nowrap;
    padding: 6px 5px;
    align-items: center;

    &:hover {
      box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.1);
      cursor: pointer;
    }

    &:last-child {
      border-bottom: none !important;
    }

    .TrackSimpleInfo {
      display: flex;
      flex-flow: row nowrap;
      min-width: 200px;
      width: 35%;

      .TrackNumber {
        margin-right: 4px;

        &:after {
          content: '.';
        }
      }

      .TrackTitle {
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .TrackLength {
        margin-left: auto;
      }
    }

    .TrackArtists {
      margin-left: 20px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: '  ...';

      .TrackArtist,
      .DividerWord {
        margin-right: 10px;
      }
    }

    @media screen and (max-width: 800px) {
      flex-flow: row wrap;

      .TrackSimpleInfo {
        margin-bottom: 5px;
        width: 100%;
      }

      .TrackArtists {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
.bp3-body {
  .PopoverTrackList,
  .TrackList {
    background-color: #e1e8ed;
  }

  .bp3-popover-arrow-fill {
    fill: #e1e8ed !important;
  }

  .FlatTrackList {
    .TopArrowPointer {
      border-bottom: 15px solid #ced9e0;
    }

    .TrackList {
      background-color: #e1e8ed;
      border-top: 1px solid #ced9e0;
      border-bottom: 1px solid #ced9e0;
    }
  }

  .Track {
    border-bottom: 1px solid #ced9e0;
  }
}

.bp3-dark {
  .PopoverTrackList,
  .TrackList {
    background-color: #202b33;
  }

  .bp3-popover-arrow-fill {
    fill: #202b33 !important;
  }

  .FlatTrackList {
    .TopArrowPointer {
      border-bottom: 15px solid #5c7080;
    }

    .TrackList {
      border-top: 1px solid #5c7080;
      border-bottom: 1px solid #5c7080;
    }
  }

  .Track {
    border-bottom: 1px solid #5c7080;
  }
}
