.Footer {
  position: fixed;
  min-height: 60px;
  max-height: 60px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-flow: column-reverse nowrap;
  padding: 5px 15px;
  overflow: hidden;
  z-index: 999;

  .LongMainInfo,
  .ShortMainInfo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex: 1 0 auto;
  }

  .LongMainInfo {
    margin-right: 30px;
    margin-top: 15px;
  }

  .ShortMainInfo {
    height: 50px;
    overflow: hide;
  }

  .CoverArt {
    flex: 1 0 auto;
    display: block;
    max-height: 40px;
    max-width: 40px;
    height: auto;
    width: auto;
    margin: 0 10px;

    img {
      border-radius: 4px;
      height: 100%;
      width: 100%;
    }
  }

  .PlayTrackInfo {
    flex: 1 0 auto;
    overflow: hide;

    .TrackTitle {
      text-overflow: ellipsis;
      margin-bottom: 4px;
    }

    .TrackTitle,
    .TrackArtists {
      text-align: center;
    }
  }

  .PlayStatus {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 10px;
    width: 30%;

    .TimeProgress {
      width: 100%;
      margin: 0 10px;
    }
  }

  .ExpandFooter {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }

  .PlayQueue {
    margin: 5px 15px;
    overflow: auto;

    .EmptyQueue {
      text-align: center;
      font-style: italic;
    }
  }

  @media screen and (max-width: 700px) {
    .LongMainInfo {
      flex-flow: column-reverse nowrap;
      margin-right: 0;
      margin-top: 0;
    }

    .ShortMainInfo {
      padding-right: 30px;
      width: 100%;
      margin-top: 15px;
    }

    .PlayStatus {
      width: 100%;
      padding: 0 15px;
      margin-top: 15px;
    }
  }
}

.Footer.Expanded {
  max-height: 800px;
}

.bp3-dark .Footer {
  background-color: #394b59;
}
