.ListOptions {
  display: flex;
  flex-flow: row nowrap;
  max-width: 1100px;
  width: 100%;
  padding: 0 5%;
  margin: 0 auto;

  .Filter {
    margin-right: 15px;
    flex-grow: 1;

    .SelectType {
      flex-grow: 0;
    }
  }

  .SortBy {
    margin-left: auto;
  }

  @media screen and (max-width: 900px) {
    flex-flow: column nowrap;

    .Filter {
      width: 100%;
    }

    .SortBy {
      margin: 10px auto 0;
    }
  }
}
