@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* TODO: Figure out a way to @apply these... */
  --color-fg: #ffffff; /* white */
  --color-fg-alt: #f7fafc; /* gray-100 */
  --color-bg: #161616;
  --color-bg-alt: #000000;
  --color-bg-embellish: #523d20; /* gold-800 */
  --color-highlight: #6e522a; /* gold-700 */
  --color-bold: #b78846; /* gold-500 */
  --color-success: #38a169; /* green-600 */
}

html {
  --lh: 1.4rem;
  line-height: var(--lh);
  @apply text-fg;
}

.app {
  background-color: var(--color-bg);
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23523d20' fill-opacity='0.19' fill-rule='evenodd'/%3E%3C/svg%3E");
}

button,
input {
  @apply rounded px-4 py-2;
}

input {
  @apply bg-transparent border-2 border-highlight;
}

input::placeholder {
  @apply text-fg-alt;
}

.full {
  @apply h-full w-full;
}

.empty {
  @apply h-0 w-0;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.square-btn {
  @apply h-10 w-10;
}

.btn-group > button {
  @apply rounded-none;
}
.btn-group > button:not(:first-child) {
  border-left: none;
}
.btn-group > button:first-child {
  @apply rounded-l;
}
.btn-group > button:last-child {
  @apply rounded-r;
}

.two-sided {
  /* TODO: Make the transitions like... work. */
  transition: all 0.4s;
}
.two-sided > .back {
  visibility: hidden;
  @apply empty;
}
.two-sided:hover > .front {
  visibility: hidden;
  @apply empty;
}
.two-sided:hover > .back {
  visibility: visible;
  @apply full;
}

.hover-pop-2nd-child > :nth-child(2) {
  visibility: hidden;
}
.hover-pop-2nd-child:hover > :nth-child(2) {
  visibility: visible;
}

.react-toast-notifications__toast {
  background-color: var(--color-bg-alt) !important;
  color: var(--color-fg) !important;
}
.react-toast-notifications__toast__content,
.react-toast-notifications__toast__dismiss-button,
.react-toast-notifications__toast__icon-wrapper {
  @apply flex items-center;
}
.react-toast-notifications__toast__icon-wrapper {
  @apply justify-center;
}
