.ReleaseList {
  display: flex;
  flex-flow: row nowrap;
  margin-top: -15px;

  .TheActualList {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin-top: 15px;

    .ReleaseListOptions {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      align-items: center;
      margin: 0 auto 15px auto;
      padding: 0 5%;

      .SearchBar {
        flex-grow: 1;
      }

      .ViewOptions {
        margin-left: 15px;
        display: flex;
        flex-flow: row nowrap;
      }

      .ViewOptionsBottomRow {
        display: flex;
        flex-flow: row nowrap;
      }

      .ViewAs,
      .SelectPerPage {
        margin-left: 15px;
      }

      .SelectPerPage .bp3-button-text::before {
        content: 'Per Page: ';
      }
    }

    .Pagination {
      margin: 0 auto 15px auto;
    }

    .ReleasesWrapper {
      flex-grow: 1;
    }

    .NoResults {
      flex-grow: 1;
    }

    .ReleaseListOptions {
      @media screen and (max-width: 1330px) {
        flex-flow: column nowrap;
        padding: 0 2%;

        .SearchBar {
          width: 98%;
          max-width: 800px;
          margin: 0 auto;
        }

        .ViewOptions {
          margin: 10px auto 0;
        }
      }

      @media screen and (max-width: 830px) {
        .SortOrder {
          .bp3-icon {
            margin-right: 0;
          }
          .bp3-button-text {
            display: none;
          }
        }
      }

      @media screen and (max-width: 750px) {
        .SelectPerPage .bp3-button-text::before {
          content: '' !important;
        }

        .ViewAs,
        .SelectPerPage {
          margin-left: 5px;
        }

        .ExpandTracks {
          .bp3-icon {
            margin-right: 0;
          }

          .bp3-button-text {
            display: none;
          }
        }
      }

      @media screen and (max-width: 550px) {
        margin-bottom: 5px;

        .ViewOptions {
          display: flex;
          flex-flow: column nowrap;
          align-items: middle;

          .SortBy,
          .ViewAs {
            margin: 5px auto;
          }

          .SelectPerPage {
            margin: 5px 5px 5px 0;
          }
        }
      }
    }
  }
}

.SideBar {
  &.bp3-body {
    background-color: #ebf1f5;
  }

  &.bp3-dark {
    background-color: #293742;
  }
}

// Copy paste copy paste...

.ReleaseList.SideBars1 {
  @media screen and (max-width: 1480px) {
    .TheActualList .ReleaseListOptions {
      flex-flow: column nowrap;
      padding: 0 2%;

      .SearchBar {
        width: 98%;
        max-width: 800px;
        margin: 0 auto;
      }

      .ViewOptions {
        margin: 10px auto 0;
      }
    }
  }

  @media screen and (max-width: 980px) {
    .TheActualList {
      margin-left: 22px;
    }

    .SideBars {
      position: fixed;
    }
  }
}

.ReleaseList.SideBars2 {
  @media screen and (max-width: 1630px) {
    .TheActualList .ReleaseListOptions {
      flex-flow: column nowrap;
      padding: 0 2%;

      .SearchBar {
        width: 98%;
        max-width: 800px;
        margin: 0 auto;
      }

      .ViewOptions {
        margin: 10px auto 0;
      }
    }
  }

  @media screen and (max-width: 1130px) {
    .TheActualList {
      margin-left: 22px;
    }

    .SideBars {
      position: fixed;
    }
  }
}
