.Header {
  margin-bottom: 15px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  a {
    color: inherit;
  }

  .FullHeader > .NavLinks > a {
    margin-right: 5px;
  }

  .CompactHeader {
    display: none;
  }

  @media screen and (max-width: 700px) {
    .CompactHeader {
      display: flex;

      .LinkButton {
        margin-right: auto;
        display: flex;
        align-items: center;

        a,
        a:hover {
          text-decoration: none;
        }
      }
    }

    .FullHeader {
      display: none;
    }
  }
}
