.Header {
  margin: 20px auto 20px auto;
  max-width: 1100px;
  width: 95%;

  a {
    color: inherit;
  }

  .CompactHeader {
    display: none;
  }

  @media screen and (max-width: 670px) {
    .CompactHeader {
      display: flex;

      .LinkButton {
        margin-right: auto;
        display: flex;
        align-items: center;

        a,
        a:hover {
          text-decoration: none;
        }
      }
    }

    .FullHeader {
      display: none;
    }
  }
}
